@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Barlow Condensed", serif;
    font-weight: normal;
}

body {
    height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

p {
    font-size: .9rem;
    line-height: 1.56rem;
    color: #D0D6F9;
}

h1 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #fff;
}

h2 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6.25rem;
    color: #D0D6F9;
}

h3 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
}

h4 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h5 {
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: .16rem;
    color: #D0D6F9;
}

a {
    text-decoration: none;
    letter-spacing: 2.7px;
    font-size: 1rem;

}

a:visited {
    color: inherit;
}

li {
    list-style: none;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block-start: 3rem;

}
.sr-only {
    position: absolute;
    /* Coloca el contenido fuera de la pantalla */
    width: 1px;
    /* Hace que el contenido ocupe el menor espacio posible */
    height: 1px;
    /* Hace que el contenido ocupe el menor espacio posible */
    margin: -1px;
    /* Lo saca de la vista */
    padding: 0;
    /* Elimina cualquier relleno que podría ocupar espacio adicional */
    border: 0;
    /* Elimina cualquier borde que podría ocupar espacio adicional */
    clip: rect(0, 0, 0, 0);
    /* Recorta el contenido a 0, por lo que queda oculto */
    overflow: hidden;
    /* Asegura que no haya desbordamiento de contenido visible */
}

.header-placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoIcon {
    margin: 2rem;
}

.navList {
    display: flex;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    gap: 2rem;
    position: fixed;
    inset: 0 0 0 30%;
    background: hsl(0 0 0% / 0.55);
    backdrop-filter: blur(.75rem);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    color: #fff;
}

.navList hr {
    display: none;
}

.navList[data-visible=true] {
    transform: translateX(0);
}

.nav-toggle {
    display: block;
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    background: url("../images/shared/icon-hamburger.svg") no-repeat center center/contain;
    border: none;
}

.nav-toggle[aria-expanded="true"] {
    background: url("../images/shared/icon-close.svg") no-repeat center center/contain;
}

@supports (backdrop-filter: blur(1rem)) {
    .navList {
        background: hsl(0 0 100% / 0.1);
        backdrop-filter: blur(.75rem);
    }
}

.navList a>span {
    font-weight: bold;
    margin-inline-end: 0.5rem;
    letter-spacing: 2.7px;
}

.navList li {
    position: relative;
    display: flex;
}

.navList li.active::after {
    content: "";
    height: 100%;
    width: 2px;
    background-color: #fff;
    margin-inline-end: 0.5rem;
    position: absolute;
    left: calc(99% + 2rem);
}

#home {
    background: url('../images/home/background-home-mobile.jpg') no-repeat center center/cover;

}
.homeContent {
    width: 100%;
    padding-inline: 1.5rem;
    text-align: center;
}

.homeButton{
    width: 100%;
    aspect-ratio: 1;
    border: none;
    border-radius: 100%;
    font-family: "Bellefair", serif;
    letter-spacing: 0.08rem;
    font-size: 1.25rem;
}
#destination {
    background: url('../images/destination/background-destination-mobile.jpg') no-repeat center center/cover;


}

#crew {
    background: url('../images/crew/background-crew-mobile.jpg') no-repeat center center/cover;


}

#technology {
    background: url('../images/technology/background-technology-mobile.jpg') no-repeat center center/cover;
}

@media screen and  (min-width: 768px) {
    h1 {
        font-size: 9.4rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    p {
        font-size: 1rem;
    }
    .navList {
        display: flex;
        flex-direction: row;
        padding: 0;
        padding-block: 2rem;
        padding-inline: clamp(3rem, 5vw, 10rem);
        gap: 2rem;
        position: relative;
        inset: 0;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
    }

    .navList li {
        flex-direction: column;
    }

    .navList a>span {
        display: none;
    }

    .navList li.active::after {
        content: "";
        height: 3px;
        width: 100%;
        background-color: #fff;
        margin-inline-end: 0;
        position: absolute;
        left: 0;
        top: calc(100% + 1.7rem);
    }

    .nav-toggle {
        display: none;
    }

    #home {
        background: url('../images/home/background-home-tablet.jpg') no-repeat center center/cover;

    }

    .homeContent{
        text-align: center;
        padding-inline: 10rem;
        
    }

    #destination {
        background: url('../images/destination/background-destination-tablet.jpg') no-repeat center center/cover;

    }

    #crew {
        background: url('../images/crew/background-crew-tablet.jpg') no-repeat center center/cover;

    }

    #technology {
        background: url('../images/technology/background-technology-tablet.jpg') no-repeat center center/cover;

    }

}

@media screen and (min-width: 1024px) {
    main{
        flex-direction: row;
    }
    .nav-toggle {
        display: none;
    }

    .navList {
        flex-direction: row;
        padding: 0;
        padding-block: 2rem;
        padding-inline: clamp(3rem, 5vw, 10rem);
        gap: 2rem;
        position: relative;
        inset: 0;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
    }

    .navList hr {
        display: block;
        position: absolute;
        width:  100%;
        height: 1px;
        background-color: #D0D6F9;
        opacity: 0.5;
        right: calc(100% - 2rem);
        top: 50%;
    }

    .navList li {
        flex-direction: column;
    }

    .navList a {
        display: flex;
    }

    .navList a>span {
        display: block;

    }

    .navList li.active::after {
        content: "";
        height: 3px;
        width: 100%;
        background-color: #fff;
        margin-inline-end: 0;
        position: absolute;
        left: 0;
        top: calc(100% + 1.7rem);
    }

    @supports (backdrop-filter: blur(1rem)) {
        .navList {
            background: hsl(0 0 100% / 0.1);
            backdrop-filter: blur(.75rem);
        }
    }

    #home {
        background: url('../images/home/background-home-desktop.jpg') no-repeat center center/cover;

    }
.homeContent{
    padding-inline: 10rem;
    align-items: flex-start;
    text-align: start;
}
.homeButton{
    width: 63%;

}
    #destination {
        background: url('../images/destination/background-destination-desktop.jpg') no-repeat center center/cover;

    }

    #crew {
        background: url('../images/crew/background-crew-desktop.jpg') no-repeat center center/cover;

    }

    #technology {
        background: url('../images/technology/background-technology-desktop.jpg') no-repeat center center/cover;

    }

}