@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Barlow Condensed", serif;
    font-weight: normal;
}

body {
    height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

p {
    font-size: .9rem;
    line-height: 1.56rem;
    color: #D0D6F9;
}

h1 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #fff;
}

h2 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6.25rem;
    color: #D0D6F9;
}

h3 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
}

h4 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h5 {
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: .16rem;
    color: #D0D6F9;
}

a {
    text-decoration: none;
    letter-spacing: 2.7px;
    font-size: 1rem;

}

a:visited {
    color: inherit;
}

li {
    list-style: none;
    position: relative;
    display: flex;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    overflow-x: auto;

}

section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sr-only {
    position: absolute;
    /* Coloca el contenido fuera de la pantalla */
    width: 1px;
    /* Hace que el contenido ocupe el menor espacio posible */
    height: 1px;
    /* Hace que el contenido ocupe el menor espacio posible */
    margin: -1px;
    /* Lo saca de la vista */
    padding: 0;
    /* Elimina cualquier relleno que podría ocupar espacio adicional */
    border: 0;
    /* Elimina cualquier borde que podría ocupar espacio adicional */
    clip: rect(0, 0, 0, 0);
    /* Recorta el contenido a 0, por lo que queda oculto */
    overflow: hidden;
    /* Asegura que no haya desbordamiento de contenido visible */
}

.header-placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoIcon {
    margin: 1.5rem;
}

.navList {
    display: flex;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    gap: 2rem;
    position: fixed;
    inset: 0 0 0 30%;
    background: hsl(0 0 0% / 0.55);
    backdrop-filter: blur(.75rem);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    color: #fff;
}

.navList hr {
    display: none;
}

.navList[data-visible=true] {
    transform: translateX(0);
}

.nav-toggle {
    display: block;
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    background: url("../images/shared/icon-hamburger.svg") no-repeat center center/contain;
    border: none;
}

.nav-toggle[aria-expanded="true"] {
    background: url("../images/shared/icon-close.svg") no-repeat center center/contain;
}

@supports (backdrop-filter: blur(1rem)) {
    .navList {
        background: hsl(0 0 100% / 0.1);
        backdrop-filter: blur(.75rem);
    }
}

.navList a>span {
    font-weight: bold;
    margin-inline-end: 0.5rem;
    letter-spacing: 2.7px;
}


.navList li.active::after {
    content: "";
    height: 100%;
    width: 2px;
    background-color: #fff;
    margin-inline-end: 0.5rem;
    position: absolute;
    left: calc(99% + 2rem);
}

#home {
    background: url('../images/home/background-home-mobile.jpg') no-repeat center center/cover;

}

#homeMain {
    justify-content: center;
    gap: 5rem;
}

.homeContent {
    width: 100%;
    padding-inline: 1.5rem;
    text-align: center;

}

.homeContent h5,
h1 {
    margin-block: 1rem;
}

.homeButton {
    width: 100%;
    aspect-ratio: 1;
    border: none;
    border-radius: 100%;
    font-family: "Bellefair", serif;
    letter-spacing: 0.08rem;
    font-size: 1.25rem;
}

#destination {
    background: url('../images/destination/background-destination-mobile.jpg') no-repeat center center/cover;
}

.destinationGalery {
    width: 100%;
    height: 100%;
    gap: 2rem;
    margin-block-end: 1.6rem;
}

.destinationGalery span {
    margin-right: 1rem;
    font-size: 1rem;
    opacity: .25;

}

.destinationImage {
    margin: 1.6rem;
}

.destinationImage img {
    width: 10.6rem;
    aspect-ratio: 1;
}

.destinationInfo {
    width: 100%;
}

.destinationInfo a {
    color: #fff;
    font-size: .87rem;
    letter-spacing: .15rem;
}

.destinationInfo hr {
    width: calc(100% - 1.5rem);
    height: 1px;
    background-color: #D0D6F9;
    opacity: 0.5;

}

.destinationText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 1.5rem 2rem 1.5rem;
}

.destinationNav {
    display: flex;
    gap: 1.6rem;
}

.destinationStats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 2rem;
}

.destinationDistance,
.destinationTravel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1rem;
    gap: .75rem;
}

.destinationStats p {
    font-size: .87rem;
    letter-spacing: .15rem;
    color: #D0D6F9;

}

.destinationStats h5 {
    font-size: 1.75rem;
    font-family: "Bellefair", serif;
    color: #fff;
}

.dest-active::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #fff;
    margin-inline-end: 0.5rem;
    position: absolute;
    top: calc(100% + .7rem);
}

#crew {
    background: url('../images/crew/background-crew-mobile.jpg') no-repeat center center/cover;


}

.crewNav {
    display: flex;
    gap: 1.5rem;
    margin-block: 2rem;
}

.dot {
    width: .94rem;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: #fff;
    opacity: .17;
}

.dot-active {
    opacity: 1;
}

#technology {
    background: url('../images/technology/background-technology-mobile.jpg') no-repeat center center/cover;
}

.dot-num {
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid #ffffff25;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-num-active {
    background-color: #fff;
    border: none;
}

.dot-num.dot-num-active span {
    color: #000;
}

.dot-num span {
    font-size: 1.87rem;
    color: #fff;
    font-family: "Bellefair", serif;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }

    .header-placeholder nav {
        height: 100%;
    }

    .navList {
        display: flex;
        height: 100%;
        flex-direction: row;
        padding: 0;
        padding-block: 2rem;
        padding-inline: clamp(3rem, 5vw, 10rem);
        gap: 2rem;
        position: relative;
        inset: 0;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
    }

    .navList li {
        flex-direction: column;
    }

    .navList a>span {
        display: none;
    }

    .navList li.active::after {
        content: "";
        height: 3px;
        width: 100%;
        background-color: #fff;
        margin-inline-end: 0;
        position: absolute;
        left: 0;
        top: calc(100% + 1.7rem);
    }

    .nav-toggle {
        display: none;
    }

    #home {
        background: url('../images/home/background-home-tablet.jpg') no-repeat center center/cover;

    }

    .homeContent {
        text-align: center;
        padding-inline: 10rem;

    }

    #destination {
        background: url('../images/destination/background-destination-tablet.jpg') no-repeat center center/cover;

    }

    .destinationGalery {
        margin-block-start: 2rem;
    }

    .destinationGalery h5 {
        align-self: flex-start;
        padding-inline: 2rem;
    }

    .destinationGalery h5>span {
        font-size: 1.25rem;
    }

    .destinationImage img {
        width: 18.7rem;
    }

    .destinationNav li>a {
        font-size: 1rem;
    }

    .destinationInfo {
        padding-inline: 6rem;
    }

    .destinationStats {
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
    }

    #crew {
        background: url('../images/crew/background-crew-tablet.jpg') no-repeat center center/cover;

    }

    #technology {
        background: url('../images/technology/background-technology-tablet.jpg') no-repeat center center/cover;

    }

}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 9.4rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }

    main {
        flex-direction: row;
    }

    .header-placeholder {
        margin-block-start: 2rem;
    }

    .nav-toggle {
        display: none;
    }

    .navList {
        flex-direction: row;
        padding: 0;
        padding-block: 2rem;
        padding-inline: clamp(3rem, 5vw, 10rem);
        gap: 2rem;
        position: relative;
        inset: 0;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
    }

    .navList hr {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #D0D6F9;
        opacity: 0.5;
        right: calc(100% - 2rem);
        top: 50%;
    }

    .navList li {
        flex-direction: column;
    }

    .navList a {
        display: flex;
    }

    .navList a>span {
        display: block;

    }

    .navList li.active::after {
        content: "";
        height: 3px;
        width: 100%;
        background-color: #fff;
        margin-inline-end: 0;
        position: absolute;
        left: 0;
        top: calc(100% + 1.7rem);
    }

    @supports (backdrop-filter: blur(1rem)) {
        .navList {
            background: hsl(0 0 100% / 0.1);
            backdrop-filter: blur(.75rem);
        }
    }

    #home {
        background: url('../images/home/background-home-desktop.jpg') no-repeat center center/cover;

    }

    #homeMain {
        height: 100%;
    }

    .homeContent {
        padding-inline: 10rem;
        align-items: flex-start;
        text-align: start;
        flex-wrap: wrap;
    }

    .homeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 63%;
        margin-block-start: 4rem;
        position: relative;
    }

    .homeButton:hover::after {
        content: "";
        position: absolute;
        width: 150%;
        aspect-ratio: 1;
        background: hsla(0 0% 100%);
        opacity: 0.13;
        border-radius: 100%;
        z-index: -1;
    }

    #destination {
        background: url('../images/destination/background-destination-desktop.jpg') no-repeat center center/cover;

    }

    #destinationMain {
        height: 100%;
        overflow-y: hidden;
        margin-block-start: 2rem;

    }

    .destinationInfo {
        padding: 0;
    }

    #crew {
        background: url('../images/crew/background-crew-desktop.jpg') no-repeat center center/cover;

    }

    #technology {
        background: url('../images/technology/background-technology-desktop.jpg') no-repeat center center/cover;

    }

}