@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Barlow Condensed", serif;
    font-weight: normal;
}

body {
    height: 100dvh;
    width: 100dvw;
}

p {
    font-size: 1.1rem;
    line-height: 2rem;
    color: #D0D6F9;
}

h1 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9.4rem;
}

h2 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6.25rem;
}

h3 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
}

h4 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h5 {
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    letter-spacing: .30rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

li {
    list-style: none;
}

.sr-only {
    position: absolute;
    /* Coloca el contenido fuera de la pantalla */
    width: 1px;
    /* Hace que el contenido ocupe el menor espacio posible */
    height: 1px;
    /* Hace que el contenido ocupe el menor espacio posible */
    margin: -1px;
    /* Lo saca de la vista */
    padding: 0;
    /* Elimina cualquier relleno que podría ocupar espacio adicional */
    border: 0;
    /* Elimina cualquier borde que podría ocupar espacio adicional */
    clip: rect(0, 0, 0, 0);
    /* Recorta el contenido a 0, por lo que queda oculto */
    overflow: hidden;
    /* Asegura que no haya desbordamiento de contenido visible */
}

.header-placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoIcon {
    margin: 2rem;
}

.navList {
    display: flex;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    gap: 2rem;
    position: fixed;
    inset: 0 0 0 30%;
    background: hsl(0 0 0% / 0.55);
    backdrop-filter: blur(.75rem);
    z-index: 1000;
}
.nav-toggle{
    display: block;
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    background: url("../images/shared/icon-hamburger.svg") no-repeat center center/contain;
    border: none;
}
.nav-toggle[aria-expanded="true"] {
    background: url("../images/shared/icon-close.svg") no-repeat center center/contain;
}
@supports (backdrop-filter: blur(1rem)) {
    .navList {
        background: hsl(0 0 100% / 0.1);
        backdrop-filter: blur(.75rem);
    }
}

.navList a>span {
    font-weight: bold;
    margin-inline-end: 0.5rem;
}

#home {
    background: url('../images/home/background-home-mobile.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    color: #fff;

}

#destination {
    background: url('../images/destination/background-destination-mobile.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;

    button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
}

#crew {
    background: url('../images/crew/background-crew-mobile.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;

    button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
}

#technology {
    background: url('../images/technology/background-technology-mobile.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;

    button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .navList {
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 2rem;
        position: relative;
        inset: 0;
        background: hsl(0 0 0% / 0.55);
        backdrop-filter: blur(.75rem);
        z-index: 1000;
    }
    @supports (backdrop-filter: blur(1rem)) {
        .navList {
            background: hsl(0 0 100% / 0.1);
            backdrop-filter: blur(.75rem);
        }
    }
    .nav-toggle{
        display: none;
    }
    #home {
        background: url('../images/home/background-home-tablet.jpg') no-repeat center center/cover;

    }

    #destination {
        background: url('../images/destination/background-destination-tablet.jpg') no-repeat center center/cover;

    }

    #crew {
        background: url('../images/crew/background-crew-tablet.jpg') no-repeat center center/cover;

    }

    #technology {
        background: url('../images/technology/background-technology-tablet.jpg') no-repeat center center/cover;

    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nav-toggle{
        display: none;
    }
    #home {
        background: url('../images/home/background-home-desktop.jpg') no-repeat center center/cover;

    }

    #destination {
        background: url('../images/destination/background-destination-desktop.jpg') no-repeat center center/cover;

    }

    #crew {
        background: url('../images/crew/background-crew-desktop.jpg') no-repeat center center/cover;

    }

    #technology {
        background: url('../images/technology/background-technology-desktop.jpg') no-repeat center center/cover;

    }

}